@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: 
    local('Montserrat Regular'), 
    local('Montserrat-Regular'), 
    url('../assets/fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: 
    local('Montserrat SemiBold'), 
    local('Montserrat-SemiBold'), 
    url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: 
    local('Montserrat Bold'), 
    local('Montserrat-Bold'), 
    url('../assets/fonts/Montserrat-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: 
    local('Montserrat ExtraLight'), 
    local('Montserrat-ExtraLight'), 
    url('../assets/fonts/Montserrat-ExtraLight.woff2') format('woff2');
}

.loading {
  height: 78vh;
  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

input {
  border: 1px solid transparent;
}

input:focus {
  outline: 2px solid #DAB700;
  border: 1px solid #DAB700;;
}

.input {
  border-radius: 30px;
  border: 1px solid #000;
  padding: 4px 15px;
}

select {
  border: 1px solid transparent;
}

select:focus {
  outline: 2px solid #DAB700;
  border: 1px solid #DAB700;
}

.link {
  transition: 0.2s;
  cursor: pointer;
}

.link:hover {
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.35);
}

body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
  font-weight: 400;

	font-size: 20px;
	color: #000000;
}

.popup {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.title {
  color: #000;
  font-size: 32px;
  font-weight: 700;
}

.big-title {
  color: #FFF;
  font-size: 72px;
  font-weight: 600;
}

.button {
  background-color: #FFD600;
  border-radius: 30px;
  padding: 19px 75px;
  font-weight: 600;

  transition: 0.2s;
}

.button:hover {
  background-color: #FFE665;
}

.button:active {
  background-color: #FFD600;
}

.label {
  font-size: 12px;
  font-weight: 200;
}

/* Header - start */

.header {
  border-bottom: 3px solid #E9E9E9;
}

.header__nav {
  min-height: 63px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__nav-left,
.header__nav-right {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}

.header__nav_item {
  display: flex;
}

.header__nav_item a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 9px;
}

.header__nav_circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;

  background-color: #FFD600;
  background-image: url(../assets/images/svg/avatar-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Header - end */  

/* Main - start */

.main {
  background: url(../assets/images/main-bg.jpg) no-repeat center;
  background-size: cover;
  height: 80vh;
  padding-bottom: 20px;
  
  display: flex;             
  align-items: center; 
}

.main__wrap {
  text-align: center;
}

.main__title {
  margin-bottom: 21px;
}

.main__label {
  color: #FFF;
  margin-bottom: 35px;
}

.main__btn button {
  font-size: 24px;
}

/* Main - end */

/* Footer - start */

.footer {
  text-align: center;
  padding: 20px 0;
  border-top: 3px solid #E9E9E9;
}

.footer__item {
  display: block;
}

.footer__item.phone {
  margin-bottom: 15px;
  max-width: 200px;
  margin: 0 auto;
}

.footer__item.place {
  max-width: 500px;
  margin: 0 auto;
}

/* Footer - end */

/* Tables - start */

.tables__wrap {
  padding-top: 20px;
  padding-bottom: 55px;
}

.tables__title {
  margin-bottom: 35px;
  text-align: center;
}

.tables__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
}

.tables__item {
  position: relative;

  padding: 30px;
  border-radius: 25px;
  border: 1px solid #000;
  background: #FFF;

  width: 395px;
  height: 655px;
  
  text-align: center;
  transition: .2s;
}

.tables__item:hover {
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.20));
}

.tables__item_img {
  margin-bottom: 13px;
  border-radius: 10px;
  width: 335px;
  height: 166px;
}

.tables__item_info {
  text-align: left;
}

.tables__item_text {
  margin-bottom: 10px;
}

.tables__item_text.input {
  width: 100%;
}

.tables__item_text.desc {
  display: -webkit-box;
  -webkit-line-clamp: 6; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tables__item_btn {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  white-space: nowrap;

  padding: 19px 30px;
}

.tables__item_btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Tables - end */

/* Order - start */

.order {
  background: url(../assets/images/order-bg.jpg) no-repeat center;
  background-size: cover;
  height: 95vh;

  display: flex;             
  align-items: center; 
  padding-bottom: 20px;
}

.order__wrap {
  text-align: center;
}

.order__title {
  margin-bottom: 47px;
}

.order__container {
  display: flex;
  justify-content: space-between;
}

.order__desc {
  max-width: 465px;
}

.order__desc-text {
  background-color: #FFF;
  border-radius: 30px;
  padding: 25px;

  border: 15px solid #FFD600;
  margin-bottom: 40px;
}

.order__cost_title {
  color: #FFF;
}

.order__cost_number {
  color: #FFD600;
  font-size: 48px;
  font-weight: 700;
}

.order__info {
  text-align: left;
}

.order__info_label {
  color: #FFF;
  margin-bottom: 8px;
}

.order__info_text {
  background-color: #FFF;
  border-radius: 30px;

  padding: 4px 18px 4px 18px;
  margin-bottom: 15px;
}

.order__info_btn-wrap {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.order__info_sum {
  font-size: 32px;
  color: #FFD600;
  font-weight: 700;
}

/* Order - end */

/* Entry - start */

.entry {
  padding-top: 33px;
  padding-bottom: 33px;

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 75vh;

}

.entry__wrap {
  border: 15px solid #FFD600;
  border-radius: 30px;

  max-width: 720px;
  margin: 0 auto;
}

.entry__title {
  padding-top: 8px;
  padding-bottom: 12px;
  border-bottom: 3px solid #E9E9E9;
  text-align: center;
}

.entry__form {
  padding: 35px 50px;
  text-align: center;
}

.entry__form_item {
  display: flex;
  gap: 21px;
  flex-wrap: nowrap;
  margin-bottom: 23px;
}

.entry__label {
  text-align: left;
  min-width: 195px;
}

.entry__input {
  width: 100%;
}

.entry__btn {
  margin-top: 30px;
}

/* Entry - end */

/* Profile - start */

.profile__wrap {
  max-width: 830px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 70px;
}

.profile__info {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 55px;
}

.profile__avatar_wrap {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 15px solid #FFD600;
  background-color: #FFD600;

  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__avatar {
  width: 108px;
  height: 108px;
}

.profile__data {
  display: flex;
  column-gap: 70px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.profile__data-left,
.profile__data-right {
  width: 220px;
}

.profile__data_text {
  margin-bottom: 20px;
}

.profile-edit__input {
  width: 100%;
}

.profile__edit-btn {
  font-size: 14px;
  padding-left: 23px;
  background: url(../assets/images/svg/edit-icon.svg) no-repeat left center;
}

.profile__admin-btn {
  font-size: 14px;
  padding-left: 23px;
  background: url(../assets/images/svg/admin-icon.svg) no-repeat left center;
}

.profile__reservations {
  min-height: 40vh;
}

.profile__reservations_title {
  font-weight: 200;
  margin-bottom: 30px;
}

.reservations-item {
  display: flex;
  background-color: #fff;

  margin-left: 15px;
  padding: 10px 0 10px 24px;
  border-left: 5px solid #FFD600;

  margin-bottom: 34px;

  transition: .2s;
}

.reservations-item:hover {
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
}

.reservations-item__text {
  margin-bottom: 7px;
  white-space: nowrap;
}

.reservations-item__text.end {
  margin-bottom: 0;
}

.reservations-item__column {
  margin-right: 50px;
}

.reservations-item__column.table {
  width: 270px;
}

.reservations-item__column.date {
  width: 165px;
}

.reservations-item__column.places {
  width: 170px;
  margin-right: 0;
}

.reservations-item__delete-btn_wrap {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.reservations-item__delete-icon path{
  transition: .2s;
}

.reservations-item__delete-icon:hover path{
  fill: #FF7474;
}

.reservations-item__delete-icon:active path{
  fill: #FF1A1A;
}


.profile-edit__wrap {
  position: relative;
  background: #FFD600;
  width: 720px;
  border-radius: 30px;
  padding: 45px;
}

.close {
  position: absolute;
  right: 7px;
  top: 7px;
  cursor: pointer;
}

.profile-edit__content {
  background: #FFF;
  height: 100%;
  border-radius: 30px;
}

.profile-edit__subtitle {
  font-weight: 200;
  text-align: center;
  margin-bottom: 25px;
}

.profile-edit__form_wrap {
  padding: 25px 48px 0 48px;
}

.profile-edit__form {
  text-align: center;
  padding-bottom: 40px;
}

.profile-edit__form_item {
  display: flex;
  gap: 54px;
  flex-wrap: nowrap;
  margin-bottom: 25px;
}

.profile-edit__label {
  text-align: left;
  min-width: 160px;
}

/* Profile - end */


/* Admin - start */

.admin__wrap {
  padding-top: 20px;
  padding-bottom: 35px;
}

.admin__panel {
  text-align: center;
}

.admin__title {
  margin-bottom: 40px;
  text-align: center;
}

.admin__mode_wrap {
  display: flex;
  justify-content: center;
  gap: 47px;
}

.admin__btn {
  display: inline-block;
  padding: 15px 50px;
  font-size: 18px;

  margin-bottom: 37px;
}

.admin__dates_wrap {
  display: flex;
  justify-content: center;
  gap: 95px;
}

.admin__date_text {
  margin-bottom: 7px;
}

.admin__date_input {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.admin__reservations {
  margin: 0 auto;
  min-height: 25vh;
}

.reservations-item__column.name {
  margin-left: 50px;
  width: 180px;
}

.reservations-item__column.contacts {
  width: 270px;
}

.reservations-item__buttons_wrap {
  min-width: 24px;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-items: center;
}

.reservations-item__check-icon path{
  transition: .2s;
}

.reservations-item__check-icon:hover path{
  fill: #90C8A0;
}

.reservations-item__check-icon:active path{
  fill: #09A334;
}

.reservations-item__label {
  white-space: nowrap;
}

/* Admin - end */