<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/styles/reset.css">
  <link rel="stylesheet" href="/src/styles/style.css">
</head>

<body>

  <header class="header">
    <nav class="header__nav wrapper">
      <ul class="header__nav-left">
        <li class="header__nav_item">
          <a href="#!">.главная</a>
        </li>
        <li class="header__nav_item">
          <a href="#!">.список столов</a>
        </li>
      </ul>

      <ul class="header__nav-right">
        <li class="header__nav_item">
          <a href="#!">.выйти</a>
        </li>
        <li class="header__nav_item ">
          <a href="#!">
            .профиль<div class="header__nav_circle avatar"></div>
          </a>
        </li>
      </ul>

      <!-- <ul class="header__nav-right">
        <li class="header__nav_item">
          <a href="#!">.войти</a>
        </li>
        <li class="header__nav_item">
          <a href="#!">
            .зарегистрироваться</a>
        </li>
      </ul> -->

    </nav>
  </header>

  <main class="admin wrapper">
    <div class="admin__wrap">
     
      <div class="admin__panel">
        <h1 class="admin__title title">Панель администратора</h1>

        <div class="admin__mode_wrap">
          <div class="admin__mode_inner-wrap">
            <p class="admin__mode_label label">тип модерации</p>
            <p class="admin__mode_text">ручная</p>
          </div>

          <button class="admin__btn button">Изменить</button>
        </div>
        
        <button class="admin__btn button">Создать стол</button>

        <div class="admin__dates_wrap">
          <form class="admin__date">
            <p class="admin__date_text">Просмотр всех бронирований</p>
            <p class="admin__date_label label">дата</p>
            <input type="date" class="admin__date_input input">

            <button class="admin__btn button">Поиск</button>            
          </form>

          <form class="admin__date">
            <p class="admin__date_text">Подтверждение бронирований</p>
            <p class="admin__date_label label">дата</p>
            <input type="date" class="admin__date_input input">

            <button class="admin__btn button">Поиск</button>            
          </form>
        </div>
      </div>
    
      <div class="admin__reservations">
        <h2 class="admin__title title">Просмотр бронирований</h2>

        <div class="reservations-item">
          <div class="reservations-item__column table">
            <p class="reservations-item__label label">стол</p>
            <p class="reservations-item__text">Отдельный кабинет</p>

            <p class="reservations-item__label label">статус</p>
            <p class="reservations-item__text end">Оплачено</p>
          </div>

          <div class="reservations-item__column date">
            <p class="reservations-item__label label">начало бронирования</p>
            <p class="reservations-item__text">12.02.2023 12:00</p>

            <p class="reservations-item__label label">окончание бронирования</p>
            <p class="reservations-item__text end">12.02.2023 15:00</p>
          </div>

          <div class="reservations-item__column places">
            <p class="reservations-item__label label">забронированные места</p>
            <p class="reservations-item__text">2</p>
          </div>

          <div class="reservations-item__column name">
            <p class="reservations-item__label label">имя бронирующего</p>
            <p class="reservations-item__text">Василий</p>

            <p class="reservations-item__label label">фамилия бронирующего</p>
            <p class="reservations-item__text end">Пупкин</p>
          </div>

          <div class="reservations-item__column contacts">
            <p class="reservations-item__label label">email бронирующего</p>
            <p class="reservations-item__text">vasiya228@mail.ru</p>

            <p class="reservations-item__label label">телефон бронирующего</p>
            <p class="reservations-item__text end">+79123456780</p>
          </div>

          <div class="reservations-item__buttons_wrap">
            <button class="reservations-item__check-btn">
              <svg class="reservations-item__check-icon" width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8191 14.634L1.54427 7.72598L0 9.557L10.1135 18L24 1.53495L22.1614 0L9.8191 14.634Z" fill="#14191A"/>
              </svg>
            </button>

            <button class="reservations-item__delete-btn">
              <svg class="reservations-item__delete-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2785 11.824L3 19.199L4.6653 20.8864L11.9438 13.5114L19.3347 21.0003L21 19.3129L13.6091 11.824L20.6522 4.6874L18.9869 3L11.9438 10.1366L5.01306 3.11389L3.34776 4.80129L10.2785 11.824Z" fill="#14191A"/>
              </svg>
            </button>
          </div>
        </div>

        <div class="reservations-item">
          <div class="reservations-item__column table">
            <p class="reservations-item__label label">стол</p>
            <p class="reservations-item__text">Отдельный кабинет</p>

            <p class="reservations-item__label label">статус</p>
            <p class="reservations-item__text end">Оплачено</p>
          </div>

          <div class="reservations-item__column date">
            <p class="reservations-item__label label">начало бронирования</p>
            <p class="reservations-item__text">12.02.2023 12:00</p>

            <p class="reservations-item__label label">окончание бронирования</p>
            <p class="reservations-item__text end">12.02.2023 15:00</p>
          </div>

          <div class="reservations-item__column places">
            <p class="reservations-item__label label">забронированные места</p>
            <p class="reservations-item__text">2</p>
          </div>

          <div class="reservations-item__column name">
            <p class="reservations-item__label label">имя бронирующего</p>
            <p class="reservations-item__text">Василий</p>

            <p class="reservations-item__label label">фамилия бронирующего</p>
            <p class="reservations-item__text end">Пупкин</p>
          </div>

          <div class="reservations-item__column contacts">
            <p class="reservations-item__label label">email бронирующего</p>
            <p class="reservations-item__text">vasiya228@mail.ru</p>

            <p class="reservations-item__label label">телефон бронирующего</p>
            <p class="reservations-item__text end">+79123456780</p>
          </div>

          <div class="reservations-item__buttons_wrap">
            <button class="reservations-item__check-btn">
              <svg class="reservations-item__check-icon" width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8191 14.634L1.54427 7.72598L0 9.557L10.1135 18L24 1.53495L22.1614 0L9.8191 14.634Z" fill="#14191A"/>
              </svg>
            </button>

            <button class="reservations-item__delete-btn">
              <svg class="reservations-item__delete-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2785 11.824L3 19.199L4.6653 20.8864L11.9438 13.5114L19.3347 21.0003L21 19.3129L13.6091 11.824L20.6522 4.6874L18.9869 3L11.9438 10.1366L5.01306 3.11389L3.34776 4.80129L10.2785 11.824Z" fill="#14191A"/>
              </svg>
            </button>
          </div>
        </div>

        <div class="reservations-item">
          <div class="reservations-item__column table">
            <p class="reservations-item__label label">стол</p>
            <p class="reservations-item__text">Отдельный кабинет</p>

            <p class="reservations-item__label label">статус</p>
            <p class="reservations-item__text end">Оплачено</p>
          </div>

          <div class="reservations-item__column date">
            <p class="reservations-item__label label">начало бронирования</p>
            <p class="reservations-item__text">12.02.2023 12:00</p>

            <p class="reservations-item__label label">окончание бронирования</p>
            <p class="reservations-item__text end">12.02.2023 15:00</p>
          </div>

          <div class="reservations-item__column places">
            <p class="reservations-item__label label">забронированные места</p>
            <p class="reservations-item__text">2</p>
          </div>

          <div class="reservations-item__column name">
            <p class="reservations-item__label label">имя бронирующего</p>
            <p class="reservations-item__text">Василий</p>

            <p class="reservations-item__label label">фамилия бронирующего</p>
            <p class="reservations-item__text end">Пупкин</p>
          </div>

          <div class="reservations-item__column contacts">
            <p class="reservations-item__label label">email бронирующего</p>
            <p class="reservations-item__text">vasiya228@mail.ru</p>

            <p class="reservations-item__label label">телефон бронирующего</p>
            <p class="reservations-item__text end">+79123456780</p>
          </div>

          <div class="reservations-item__buttons_wrap">
            <button class="reservations-item__check-btn">
              <svg class="reservations-item__check-icon" width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8191 14.634L1.54427 7.72598L0 9.557L10.1135 18L24 1.53495L22.1614 0L9.8191 14.634Z" fill="#14191A"/>
              </svg>
            </button>

            <button class="reservations-item__delete-btn">
              <svg class="reservations-item__delete-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2785 11.824L3 19.199L4.6653 20.8864L11.9438 13.5114L19.3347 21.0003L21 19.3129L13.6091 11.824L20.6522 4.6874L18.9869 3L11.9438 10.1366L5.01306 3.11389L3.34776 4.80129L10.2785 11.824Z" fill="#14191A"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
      
    </div>
  </main>

  <footer class="footer">
    <div class="footer__wrap wrapper">
      <a href="tel:+78002000024" class="footer__item phone">8 (800) 200-00-24</a>
      <p class="footer__item place">
        620014, Свердловская обл., г. Екатеринбург, ул. Сакко и Ванцетти, д. 61.
      </p>
    </div>
  </footer>

</body>

</html>