<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/styles/reset.css">
  <link rel="stylesheet" href="/src/styles/style.css">
</head>

<body>

  <header class="header">
    <nav class="header__nav wrapper">
      <ul class="header__nav-left">
        <li class="header__nav_item">
          <a href="#!">.главная</a>
        </li>
        <li class="header__nav_item">
          <a href="#!">.список столов</a>
        </li>
      </ul>

      <ul class="header__nav-right">
        <li class="header__nav_item">
          <a href="#!">.выйти</a>
        </li>
        <li class="header__nav_item ">
          <a href="#!">
            .профиль<div class="header__nav_circle"></div>
          </a>
        </li>
      </ul>

      <!-- <ul class="header__nav-right">
        <li class="header__nav_item">
          <a href="#!">.войти</a>
        </li>
        <li class="header__nav_item">
          <a href="#!">
            .зарегистрироваться</a>
        </li>
      </ul> -->

    </nav>
  </header>

  <main class="entry wrapper">
    <div class="entry__wrap">
      <h1 class="entry__title title">Регистрация</h1>

      <form action="" class="entry__form">
        <div class="entry__form_item">
          <label for="name" class="entry__label">Имя</label>
          <input id="name" type="text" class="entry__input input">
        </div>

        <div class="entry__form_item">
          <label for="surname" class="entry__label">Фамилия</label>
          <input id="surname" type="text" class="entry__input input">
        </div>

        <div class="entry__form_item">
          <label for="login" class="entry__label">Логин</label>
          <input id="login" type="text" class="entry__input input">
        </div>

        <div class="entry__form_item">
          <label for="email" class="entry__label">Email</label>
          <input id="email" type="email" class="entry__input input">
        </div>

        <div class="entry__form_item">
          <label for="phone" class="entry__label">Номер телефона</label>
          <input id="phone" type="tel" class="entry__input input">
        </div>

        <div class="entry__form_item">
          <label for="password" class="entry__label">Пароль</label>
          <input id="password" type="password" class="entry__input input">
        </div>

        <div class="entry__form_item">
          <label for="re-password" class="entry__label">Повторите пароль</label>
          <input id="re-password" type="password" class="entry__input input">
        </div>

        <button class="entry__btn button">Создать аккаунт</button>
        
      </form>
    </div>
  </main>

  <footer class="footer">
    <div class="footer__wrap wrapper">
      <a href="tel:+78002000024" class="footer__item phone">8 (800) 200‑00‑24</a>
      <p class="footer__item place">
        620014, Свердловская обл., г. Екатеринбург, ул. Сакко и Ванцетти, д. 61.
      </p>
    </div>
  </footer>

</body>

</html>