<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/styles/reset.css">
  <link rel="stylesheet" href="/src/styles/style.css">
</head>

<body>

  <header class="header">
    <nav class="header__nav wrapper">
      <ul class="header__nav-left">
        <li class="header__nav_item">
          <a href="#!">.главная</a>
        </li>
        <li class="header__nav_item">
          <a href="#!">.список столов</a>
        </li>
      </ul>

      <ul class="header__nav-right">
        <li class="header__nav_item">
          <a href="#!">.выйти</a>
        </li>
        <li class="header__nav_item ">
          <a href="#!">
            .профиль<div class="header__nav_circle"></div>
          </a>
        </li>
      </ul>

      <!-- <ul class="header__nav-right">
        <li class="header__nav_item">
          <a href="#!">.войти</a>
        </li>
        <li class="header__nav_item">
          <a href="#!">
            .зарегистрироваться</a>
        </li>
      </ul> -->

    </nav>
  </header>

  <main class="tables">
    <div class="tables__wrap wrapper">
      <h1 class="tables__title title">Список всех столов</h1>

      <div class="tables__list">

        <div class="tables__item">
          <img src="../src/assets/images/table-1.jpg" alt="Изображение стола" class="tables__item_img">

          <div class="tables__item_info">
            <p class="tables__item_label">название</p>
            <p class="tables__item_text">Большой шведский стол</p>

            <p class="tables__item_label">описание</p>
            <p class="tables__item_text desc">
              Шведский стол, буфет — способ подачи пищи, при котором множество блюд выставляются рядом, и еда
              разбирается
              по тарелкам самими гостями. Также предоставляется
            </p>

            <p class="tables__item_label">цена</p>
            <p class="tables__item_text">1000 руб./ч.</p>

            <p class="tables__item_label">дата</p>
            <input type="date" class="tables__item_text input" />
          </div>

          <button class="tables__item_btn button">Найти свободные места</button>
        </div>

        <div class="tables__item">
          <img src="../src/assets/images/table-2.jpg" alt="Изображение стола" class="tables__item_img">

          <div class="tables__item_info">
            <p class="tables__item_label">название</p>
            <p class="tables__item_text">Отдельный кабинет</p>

            <p class="tables__item_label">описание</p>
            <p class="tables__item_text desc">
              Кабинет (также отдельный кабинет) — отдельная комната или отгороженная занавеской секция
              в ресторане или кафешантане.
            </p>

            <p class="tables__item_label">цена</p>
            <p class="tables__item_text">3000 руб./ч.</p>

            <p class="tables__item_label">дата</p>
            <input type="date" class="tables__item_text input" />
          </div>

          <button class="tables__item_btn button">Найти свободные места</button>
        </div>

        

        <div class="tables__item">
          <img src="../src/assets/images/table-3.jpg" alt="Изображение стола" class="tables__item_img">

          <div class="tables__item_info">
            <p class="tables__item_label">название</p>
            <p class="tables__item_text">Обычный стол</p>

            <p class="tables__item_label">описание</p>
            <p class="tables__item_text desc">
              Ресторан — предприятие общественного питания с широким ассортиментом блюд сложного приготовления.
            </p>

            <p class="tables__item_label">цена</p>
            <p class="tables__item_text">300 руб./ч.</p>

            <p class="tables__item_label">дата</p>
            <input type="date" class="tables__item_text input" />
          </div>

          <button class="tables__item_btn button">Найти свободные места</button>
        </div>

        <div class="tables__item">
          <img src="../src/assets/images/table-1.jpg" alt="Изображение стола" class="tables__item_img">

          <div class="tables__item_info">
            <p class="tables__item_label">название</p>
            <p class="tables__item_text">Большой шведский стол</p>

            <p class="tables__item_label">описание</p>
            <p class="tables__item_text desc">
              Шведский стол, буфет — способ подачи пищи, при котором множество блюд выставляются рядом, и еда
              разбирается
              по тарелкам самими гостями.
            </p>

            <p class="tables__item_label">цена</p>
            <p class="tables__item_text">1000 руб./ч.</p>

            <p class="tables__item_label">дата</p>
            <input type="date" class="tables__item_text input" />
          </div>

          <button class="tables__item_btn button">Найти свободные места</button>
        </div>

        <div class="tables__item">
          <img src="../src/assets/images/table-2.jpg" alt="Изображение стола" class="tables__item_img">

          <div class="tables__item_info">
            <p class="tables__item_label">название</p>
            <p class="tables__item_text">Отдельный кабинет</p>

            <p class="tables__item_label">описание</p>
            <p class="tables__item_text desc">
              Кабинет (также отдельный кабинет) — отдельная комната или отгороженная занавеской секция
              в ресторане или кафешантане.
            </p>

            <p class="tables__item_label">цена</p>
            <p class="tables__item_text">3000 руб./ч.</p>

            <p class="tables__item_label">дата</p>
            <input type="date" class="tables__item_text input" />
          </div>

          <button class="tables__item_btn button">Найти свободные места</button>
        </div>

        <div class="tables__item">
          <img src="../src/assets/images/table-3.jpg" alt="Изображение стола" class="tables__item_img">

          <div class="tables__item_info">
            <p class="tables__item_label">название</p>
            <p class="tables__item_text">Обычный стол</p>

            <p class="tables__item_label">описание</p>
            <p class="tables__item_text desc">
              Ресторан — предприятие общественного питания с широким ассортиментом блюд сложного приготовления.
            </p>

            <p class="tables__item_label">цена</p>
            <p class="tables__item_text">300 руб./ч.</p>

            <p class="tables__item_label">дата</p>
            <input type="date" class="tables__item_text input" />
          </div>

          <button class="tables__item_btn button">Найти свободные места</button>
        </div>

      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="footer__wrap wrapper">
      <a href="tel:+78002000024" class="footer__item phone">8 (800) 200-00-24</a>
      <p class="footer__item place">
        620014, Свердловская обл., г. Екатеринбург, ул. Сакко и Ванцетти, д. 61.
      </p>
    </div>
  </footer>

</body>

</html>